@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5 home-container">
    <div class="row">
        <div class="col-md-6 home-text">
            <h1 class="display-4">Rick & Morty - Naruto</h1>
            <p class="lead">Bienvenidos a nuestra página web, ha sido realizada con .NET, HTML y CSS. Los creadores somos Joan y Sergi, esperemos que les guste.</p>
        </div>
        <div class="col-md-6 home-image text-center">
            <img class="img-fluid rounded-circle shadow" src="https://th.bing.com/th/id/OIG3.EwrRUvdo2QNYbVPx9xef?pid=ImgGn" alt="Rick & Morty" width="400" height="400">
        </div>
    </div>
</div>
