@{
    ViewData["Title"] = "Home Page";
}

<div class="container"></div>
    <div class="text-left">
        <h1 class="index-h1">Rick & Morty</h1>
        <br><p class="index-p">Bienvenidos a nuestra página web, ha sido realizada con .NET, HTML y CSS. Los creadores somos Joan y Sergi, esperemos que les gusté.</p>
    </div>
    <div class="index-foto">
        <img class="index-fotoRicky" src="https://pngimg.com/uploads/rick_morty/rick_morty_PNG24.png" width="400" height="400">
    </div>
</div>