/* _content/PROJECTE_DAW_API/Views/Shared/_Layout.cshtml.rz.scp.css */
.container-fluid[b-0xy0b9y3mv] {
  flex: 1;
}

.imagenLogo[b-0xy0b9y3mv] {
  flex: 1;
  width: 200px;
  height: auto;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 20px;
}

.orange-navlink[b-0xy0b9y3mv] {
  color: orange;
}



