.character-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.character-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    position: relative; /* Add this line */
}

.image-container {
    position: relative; /* Add this line */
}

.character-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.status-label {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
}

.status-label.alive {
    background-color: green;
}

.status-label.dead {
    background-color: red;
}

.status-label.unknown {
    background-color: gray;
}

.character-details {
    padding-top: 10px;
}

.character-details h2 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 18px;
}

.character-details p {
    margin: 0;
    font-size: 14px;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.pagination .btn {
    margin: 0 5px;
}
