.container {
    flex: 1;
}

.text-left {
    flex: 1;
    text-align: left;
    margin-top: 230px;
    padding: 40px; /* A침ade un espacio interior alrededor del contenido */
    border: 1px solid #ccc; /* A침ade un borde s칩lido */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* A침ade una sombra */
    height: 300px;
    width: 550px;
    background-color: #9eeb5b;
}


.index-foto {
    flex: 1;
    text-align: right;
    margin-right: 30px;
    margin-top: -350px;

}

.index-h1 {
    font-size: 60px;
    font-family: serif;
    font-weight: bold;
}


.index-p {
    color: gray;
    font-size: 25px;
    width: 500px;
}